---
layout: default
---

<!-- Main -->
<section id="main" class="wrapper style1">
    <header class="major">
        <h2>About Me</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <a href="#" class="image fit"><img src="images/dasme_yet_again.jpg" alt="" /></a>
                    <div class="sharebuttons">
                      <hr />
                      <ul>
                        <li>
                          <p class="sharetitle"> Share this: </p>
                        </li>
                        <li class="reddit">
                          <a href="http://www.reddit.com/submit?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape }}" target="_blank">
                            {% include social/share-icon-reddit.svg %}
                          </a>
                        </li>
                        <li class="hn">
                          <a href="http://news.ycombinator.com/submitlink?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&t={{ page.title | default:"" | uri_escape}}" target="_blank">
                            {% include social/share-icon-hn.svg %}
                          </a>
                        </li>
                        <li class="twitter">
                          <a href="https://twitter.com/intent/tweet?via=USERNAME&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}" target="_blank">
                            {% include social/share-icon-twitter.svg %}
                          </a>
                        </li>
                        <li class="linkedin">
                          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape}}" target="_blank">
                            {% include social/share-icon-linkedin.svg %}
                          </a>
                        </li>
                      </ul>
                    </div>

                    {% if site.github_username %}
                        <li>
                        <a href="https://github.com/{{ site.github_username }}">
                          <i class="fa fa-github"></i> GitHub
                        </a>
                        </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                        <li>
                        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                          <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                        </li>
                    {% endif %}
                </section>
                <hr />
                <section>
                    <h3>Ante sed commodo</h3>
                    <ul class="alt">
                        <li><a href="#">Erat blandit risus vis adipiscing</a></li>
                        <li><a href="#">Tempus ultricies faucibus amet</a></li>
                        <li><a href="#">Arcu commodo non adipiscing quis</a></li>
                        <li><a href="#">Accumsan vis lacinia semper</a></li>
                        <li><a href="#">Erat blandit risus vis adipiscing</a></li>
                        <li><a href="#">Tempus ultricies faucibus amet</a></li>
                        <li><a href="#">Arcu commodo non adipiscing quis</a></li>
                        <li><a href="#">Accumsan vis lacinia semper</a></li>
                    </ul>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <section>
                    <p>I am a student at the Artificial Intelligence Master's programme at the University of Amsterdam. Over the years I have developed an interest in understanding the nature of intelligence, whether it be by learning about the human mind or by bringing complex behaviour in machines to life.</p>
                    <p>My passions revolve around science, technology, and philosophy. One of my favourite experiences in life is that of having my world-view changed that occurs after being exposed to new ideas. Through this website, I hope to inspire readers to learn more about these topics, the same way my peers and teachers have inspired me. </p>
                </section>
            </div>
        </div>
    </div>
</section>