---
layout: default
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header class="major">
            <h2>About Me</h2>
        </header>
    </div>
</section>
<!-- Main -->
<section id="main" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/dasme_yet_again.jpg" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <section>
                    <p>I am a student at the Artificial Intelligence Master's programme at the University of Amsterdam. Over the years I have developed an interest in understanding the nature of intelligence, whether it be by learning about the human mind or by bringing complex behaviour in machines to life.</p>
                    <p>My passions revolve around science, technology, and philosophy. One of my favourite experiences in life is that of having my world-view changed that occurs after being exposed to new ideas. Through this website, I hope to inspire readers to learn more about these topics, the same way my peers and teachers inspire me. </p>
                </section>
                <section>
                {% if site.linkedin_username %}
                    <span style="font-size: 2em;">
                        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                            <div class="fa fa-linkedin">
                                - LinkedIn
                            </div>
                        </a> 
                    </span>
                </section>
                {% endif %}
                <section>
                {% if site.github_username %}
                    <span style="font-size: 2em;">
                        <a href="https://github.com/{{ site.github_username }}">
                            <div class="fa fa-github">
                                - GitHub
                            </div>
                        </a> 
                    </span>
                {% endif %}
                </section>
                {% if site.facebook_username %}
                <section>
                    <span style="font-size: 2em;">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <div class="fa fa-facebook">
                                - FaceBook
                            </div>
                        </a> 
                    </span>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">

    <hr />
    <header class="major">
        <h2>Projects</h2>
    </header>
    <hr />
    <section>
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/agario.png" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <header class="major">
                    <h3>Investigating how state representations affect learning in reinforcement learning</h3>
                </header>
                We are at a point in time where machines are capable of learning how to interact with the world around them.
                Developments in deep learning have allowed such agents to develop complex behaviours directly from raw visual perception.
                However, designing optimal input representations for these agents is a non-trivial task. Some of these might
                require layers of abstract representations to be learned before any meaningful behavior emerges, while others
                provide the agent with more direct access to relevant information for the task at hand./n
                I investigated this during my Bachelor's thesis, and later developed this it into a publication paper at ICAART 2019.
            </div>
        </div>
    </section>
    <hr />

    </div>
</section>
