---
layout: default
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header class="major">
            <h2>About Me</h2>
        </header>
    </div>
</section>
<!-- Main -->
<section id="main" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/dasme_yet_again.jpg" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <section>
                    <p>I am a graduate from the Artificial Intelligence Master's programme at the University of Amsterdam. Over the years I have developed an interest in understanding the nature of intelligence, whether it be by learning about the human mind or by bringing complex behaviour in machines to life.</p>
                    <p>My passions revolve around science, technology, and philosophy. One of my favourite experiences in life is that of having my world-view changed after being exposed to new ideas. Through this website, I hope to inspire readers to learn more about these topics, the same way my peers and teachers inspire me. </p>
                </section>
                <section>
                {% if site.linkedin_username %}
                    <span style="font-size: 2em;">
                        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                            <div class="fa fa-linkedin">
                                - LinkedIn
                            </div>
                        </a> 
                    </span>
                </section>
                {% endif %}
                <section>
                {% if site.github_username %}
                    <span style="font-size: 2em;">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <div class="fa fa-github">
                                - GitHub
                            </div>
                        </a> 
                    </span>
                {% endif %}
                </section>
                {% if site.facebook_username %}
                <section>
                    <span style="font-size: 2em;">
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
                            <div class="fa fa-facebook">
                                - FaceBook
                            </div>
                        </a> 
                    </span>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">

    <hr />
    <header class="major">
        <h2>Projects</h2>
    </header>
    <hr />
    <section>
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="/images/exploration1.gif" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <header class="major">
                    <h3><a href="https://scripties.uba.uva.nl/search?id=716374" target="_blank">Exploration through curiosity in reinforcement learning</a></h3>
                </header>
                Curiosity allows us to explore our environment and learn new skills. This idea has been investigated in
                the context of reinforcement learning in the past to create broader exploration strategies. An agent
                self-generates intrinsic rewards that aim to represent the novelty of the input its senses are currently
                perceiving. The key to this approach is learning a mental model of the environment and trying to prioritize
                exploring regions that are currently hard to understand.<br><br>
                In my <a href="https://scripties.uba.uva.nl/search?id=716374" target="_blank">Master's thesis</a>, I investigated different
                approaches to structuring an agent's abstract representation of the environment. Introducing structure based
                on temporal correlations allows for more intuitive exploration behaviour.
            </div>
        </div>
    </section>
        <br>
    <section>
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/agario.png" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <header class="major">
                    <h3><a href="https://www.scitepress.org/PublicationsDetail.aspx?ID=yaA+xcdt4QE=&t=1" target="_blank">Investigating how state representations affect learning in reinforcement learning</a></h3>
                </header>
                We are at a point in time where machines are capable of learning how to interact with the world around them.
                Developments in deep learning have allowed such agents to develop complex behaviours directly from raw visual perception.
                However, designing optimal input representations for these agents is a non-trivial task. Some of these might
                require layers of abstract representations to be learned before any meaningful behavior emerges, while others
                provide the agent with more direct access to relevant information for the task at hand.<br><br>
                I investigated this topic during my Bachelor's thesis, which later developed into a
                <a href="https://www.scitepress.org/PublicationsDetail.aspx?ID=yaA+xcdt4QE=&t=1" target="_blank">publication paper at ICAART 2019</a>.
            </div>
        </div>
    </section>
        <br>
    <section>
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/rodrigues_vessels.png" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <header class="major">
                    <h3><a href="https://arxiv.org/abs/2001.00666" target="_blank">Improving brain vessel segmentation in stroke patients</a></h3>
                </header>
                When someone has a stroke a CT scan is performed to determine the extent of the damage inflicted to the brain tissue.
                Deep learning applications have proven to perform this task in seconds, rather than minutes/hours in human experts.
                However, data in medical applications is scarce, limiting the potential of such approaches.<br><br>
                During this internship, I managed to create an algorithm that generates realistic vessel structures. These can
                be used to create synthetic data that increases the amount of available training examples, and in turn,
                improve the performance of the trained algorithms. A whole discussion on this can be found on the
                <a href="https://arxiv.org/abs/2001.00666" target="_blank">paper I wrote on the topic</a>.
            </div>
        </div>
    </section>
            <br>
    <section>
        <div class="row">
            <div class="4u">
                <section>
                    <a class="image fit"><img src="images/windmills.jpg" alt="" /></a>
                </section>
            </div>
            <div class="8u skel-cell-important">
                <header class="major">
                    <h3>Applying optimization techniques to the energy market</h3>
                </header>
                It is occasionally the case that there is a surplus of renewable energy. In such situations turbines have
                to be temporarily shut down due to the lack in demand. Having accurate forecasts on energy production
                is only part of the solution to such issues. Ideally, a dynamic market should adjust pricing so
                as to maximize the amount of renewable energy being used. This is however not a trivial problem, as renewable
                sources have the downside of being unpredictable.<br><br>
                During this project, we worked on applying reinforcement learning algorithms to energy load balancing tasks.
                Our hopes are that developing such technologies will allow for more efficient markets.
            </div>
        </div>
    </section>
    <hr />

    </div>
</section>
