<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Welcome!</h2>
                <p>My name is Nil Stolt Ansó. I am an Artificial Intelligence Master's student at the University of Amsterdam. I use this site to share my opinions on topics that I find interesting and exciting, which tend to revolve around machine learning, techonology and the mind.</p>
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}/About-Me.html" class="button big special">Who am I?</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
